*{
	margin: 0;
	font-size: 6vh;
	font-family: Arial, Helvetica, sans-serif;
	//font-family: Verdana, Helvetica, sans-serif;
	//font-family: Georgia, serif;
}

header{
	text-align: center;
	font-size: 0.7em;
	padding: 0.2em;
	color: white;
	background-color: black;
	//font-family: Georgia, serif;
}

ul{
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	text-align:center;
}

li {
	float: left;
	display: inline;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 0.3em 0.35em;
	text-decoration: none;
	font-size: 0.4em;
}

li a:hover:not(.active) {
  background-color: black;
}

.active {
  background-color: #e60000; //red
}

p{
	font-size: 0.4em;
	margin-top: 1em;
	margin-left: 4em;
	margin-right: 4em;
}

.header{
font-size:20px;
text-align:center;
}

#face{
	font-size: 0.4em;
	margin-top: 1em;
	margin-left: 4em;
	margin-right: 4em;
}

#herm{
	float: left;
	width: 45%;
}

#craig{
	float: left;
}
